SSH_USER,SSH_PASSWORD,SSH_LISTEN_PORT,SERVER_NAME,CONTAINER_NAME,NETWORK_NAME,HOST_VOLUME_PATH
user3,pass3,20003,ssh-server3,circleC,ssh-network3,./www-data
user2,pass2,20002,ssh-server2,circleB,ssh-network2,./www-data
