version: '2.4'
services:
  syslog-server:
    container_name: common-syslog
    # image: syslog-server:latest
    build: syslog-server/
    restart: always
    volumes:
      - ./log:/var/log
    networks:

networks:

